.tooltip-demo {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    height: 200px; 
  }

.tooltip-container {
    position: relative;
    margin: 6px 0; 
  }
  
  .tooltip {
    font-family: 'Inter', sans-serif;
    position: absolute;
    background-color: #007bff;
    color: white;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 12px;
    visibility: hidden; 
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .tooltip-container:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .tooltip--top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 8px;
  }
  
  .tooltip--bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 8px;
  }
  
  .tooltip--left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);
    margin-right: 8px;
  }
  
  .tooltip--right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    margin-left: 8px;
  }
  